/* Responsive site rules */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Tiro Kannada', serif;
    margin-left: auto;
    margin-right: auto;
    
}
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 480px) {         /*mobile devices*/
    body {
        border: none;
        padding: none;
    }   
}
@media (min-width: 480px), (max-width: 767px) {      /*low-resolution tablets, and ipads*/
    body {
        border: none;
        padding: none;
        text-align: center;
    }  
    ul {
        display: inline-flex;
        list-style: none;
        padding-right: 300px;
    }    
}
@media (min-width: 768px), (max-width: 1024px) {
    body {
        border: none;
        padding: none;
        text-align: center;
    }     
}
@media (min-width: 768px), (max-width: 1024) {       /*tablets and ipads w/ portrait mode*/
    body {
        border: none;
        padding: none;
    }   
}
@media (min-width: 1025px), (max-width: 1280px) {        /*Media query for laptops and desktops*/
    body {
        border: none;
        padding: none;
    }         
}
@media (min-width: 1281px) {        /*Media query for large screens*/
    body {
        border: none;
        padding: none;
    }
}

html {
    overflow-x: hidden;
}

/*Header rules*/

h1 {
    text-align: center;
}

h2 {
    color: black;
    font-size: 40px;
}

h1,
h3,
.form-h4 {
    color: black;
    text-transform: uppercase;
}

span {
    text-align: center;
}

/*Header and Footer, Header and Footer, section box control*/

header {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.upper-section {
    margin-left: auto;
    margin-right: auto;
    width: 50%;   
}

.family {
    text-align: center;
}

button:hover {
    cursor: pointer;
}

span {
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}

#invisi-text {
    color: red;
}

/*Image control*/

.pic-section {
    text-align: center;
    height: 30vh;
}

.pic-section-two {
    text-align: center;
    height: 30vh;
}

.african-skyline {
    height: 30vh;
    width: 100%;
}

.envelope {
    height: 35px;
    padding-top: 5px;
}

/*button control*/

.bottom-btn-div {
    text-align: center;
}

#subscribe-btn {
    text-transform: uppercase;
    background: red;
    height: 40px;
    width: 150px;
    border: none;
    color: black;

}
/*Footer rules*/

.empty-space {
    height: 50vh;
}
footer {
    text-align: center; 
    height: 30vh;
}

.dev-creds-div {
    text-align: center;
}

a {
    text-decoration: none;
}


