@media only screen and (min-width: 412px) and (min-height: 914px) {
    /* Responsive site rules */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Tiro Kannada', serif;
    margin-left: auto;
    margin-right: auto;
    
}
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    html {
        overflow-x: hidden;
    }
    
    /*Header rules*/
    
    h1 {
        text-align: center;
    }
    
    h2 {
        color: black;
        font-size: 40px;
    }
    
    h1,
    h3,
    .form-h4 {
        color: black;
        text-transform: uppercase;
    }
    
    span {
        text-align: center;
    }
    
    /*Header and Footer, Header and Footer, section box control*/
    
    header {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    
    .upper-section {
        margin-left: auto;
        margin-right: auto;
        width: 50%;   
    }
    
    .family {
        text-align: center;
    }
    
    button:hover {
        cursor: pointer;
    }
    
    span {
        font-size: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #invisi-text {
        color: red;
    }
    
    /*Image control*/
    
    .pic-section {
        text-align: center;
        height: 30vh;
    }
    
    .pic-section-two {
        text-align: center;
        height: 30vh;
    }
    
    .african-skyline {
        height: 30vh;
        width: 100%;
    }
    
    .envelope {
        height: 35px;
        padding-top: 5px;
    }
    
    /*button control*/
    
    .bottom-btn-div {
        text-align: center;
    }
    
    #subscribe-btn {
        text-transform: uppercase;
        background: red;
        height: 40px;
        width: 150px;
        border: none;
        color: black;
    
    }
    /*Footer rules*/
    footer {
        text-align: center; 
        height: 30vh;
    }
    
    .dev-creds-div {
        text-align: center;
    }
    
    a {
        text-decoration: none;
    }
}